@font-face {
  font-family: baufra;
  src: url(./fonts/BaufraBold.ttf);
}
@font-face {
  font-family: stencil;
  src: url(./fonts/Stencil.ttf);
}

body {
  margin: 0;
  
}

header {
  background-color: #D92121;
  color: black;
  text-align: center;
  padding: 0px;
  font-family: stencil, sans-serif;
  letter-spacing: 0.25em;
  font-size: 2.7em;
  position: fixed;
  top:0;
  width: 100vw;
  height: 2.7em;
}
h1 {
    padding: 0;
    margin-top: 13px;
}
.gameboards {
  display: flex;
  margin-top: 174px;
  justify-items: center;
  align-items: center;
}

.playerName {
  text-align: center;
  font-size: 1.8em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: black;
}
/*
.computer-board {
    background-color: maroon;
}*/

.player-board,
.computer-board {
  
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-left: auto;
  margin-right: auto;
}

.pbSection-item,
.cbSection-item {
  width: fit-content;
  height: 318px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-items: stretch;
  align-items: stretch;
  cursor: pointer;
}

.cb-grid-item:hover,
.ps-grid-item:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);
}

.pb-grid-item,
.cb-grid-item,
.ps-grid-item {
  width: 31.8px;
  height: 31.8px;
  border: 0.1px solid black;
}
.placeShips {
  max-width: 350px;
  height: 450px;
  font-family: baufra;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

fieldset {
  display: flex;
  gap: 18.2px;
  align-items: center;
  max-width: fit-content;
}

legend {
  text-align: center;
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipName {
  padding: 1.8px;
  text-align: center;
  margin: 4.5px 4.55px;
}

.winner {
  width: 273px;
  height: 136.5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.winner-dialog-button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.winner-identity {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.game-over {
  font-size: 1.8em;
  font-family: baufra;
}

.game-over,
.winner-identity {
  text-align: center;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #d92121;
  color: white;
  padding: 9px;
  border-radius: 4.5px;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  position: fixed;
  font-family: baufra;
  font-size: 0.75em;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

@media (max-width:600px) {
  
    header {
      font-size: 20px;
      padding-bottom: 10px;
      
    }

    .placeShips {
      max-width: 300px;
      height: auto;
    }

    .placeShips > form {
      max-width: 290px;
    }
    form > fieldset {
      max-width: fit-content;
    }

    .pbSection-item {
      max-width: fit-content;
    }

    .ps-grid-item {
      max-width: 29px;
      height: auto;
    }

    .gameboards {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    .player-board,.computer-board {
      gap: 20px;
    }

    .computer-board {
      padding-bottom: 20px;
    }
}